#container{
  display: block;
  width: 900px; 
  height: 450px;
  margin: auto; 
  position:relative; 
  border:5px solid black; 
  border-radius: 10px; 
  box-shadow: 0 5px 50px #333;
}

#score{
  position:absolute;
  z-index:21;
  top: 0px;
  right: 12px;
  font-family: 'Brush Script MT', Arial, sans-serif;
  font-size: 18px;
}